.container {
  max-width: 90%;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  flex-wrap: wrap;
}
nav .logo-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-block {
  border: 1px solid grey;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
nav input {
  border: none;
  min-width: 190px;
}
nav input:focus {
  outline: none;
}
nav .hamburger {
  cursor: pointer;
}
nav ul {
  width: 100%;
  background-color: #8c8cf3;
  color: whitesmoke;
  text-align: center;
  list-style-type: none;
  padding: 1rem;
  margin-top: 1rem;
  margin-top: -900px;
  transition: all 0.8s ease;
  border-bottom-right-radius: 30%;
}
nav .show {
  margin-top: 1rem;
}
nav ul li {
  padding-bottom: 1rem;
}
nav ul li:last-child {
  padding-bottom: 0;
}

nav ul li a {
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.7)),
    url("/img/mobile-img.png");
  min-height: calc(100vh - 66px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  /* background-attachment: fixed; */
  display: flex;
  align-items: center;
}
.hero__text {
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
.hero__text .hero-emoji {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero__text h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.search-block.hero-search-block input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
}
.search-block.hero-search-block input:focus {
  outline: none;
}
.hero ::placeholder {
  color: #fff;
}
.search-block.hero-search-block {
  width: 70%;
}
.hero--btn-section {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.hero--btn-section .btn {
  color: #000;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.hero--btn-section .btn-success {
  background-color: rgb(56, 235, 160);
}
.hero--btn-section .btn-secondary {
  background-color: rgb(227, 220, 220);
}

.apartment {
  background-color: #f6f6f7;
  padding: 2rem 0 1rem 0;
}
.apartment .section--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.apartment .section--heading h2 {
  font-weight: 400;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
}
.apartment .section--heading span {
  color: #949fb7;
  cursor: pointer;
}
.apartment .section--heading a {
  font-size: 1rem;
}
.apartment__list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.apartment--meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apartment--meta span {
  padding: 0.4rem 0;
}
.apartment--card img {
  width: 100%;
}
.apartment--card .apartment__title {
  font-size: 1rem;
  margin-top: 0.2rem;
}
.apartment__list-wrapper:last-child {
  margin-bottom: 0;
}

.hero__img__blog {
  display: none;
}
@media screen and (min-width: 768px) {
  nav .hamburger {
    display: none;
  }
  nav ul {
    display: flex;
    width: auto;
    align-items: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #000;
  }
  nav ul li {
    padding: 0;
    margin-left: 2rem;
  }
  nav {
    flex-wrap: nowrap;
  }
  .hero {
    background: #fff;
    min-height: auto;
  }
  .hero__text {
    width: 50%;
    margin-left: 5%;
  }
  .hero__img__blog {
    display: block;
    width: 50%;
    margin-left: 2rem;
  }
  .hero__img__blog img {
    height: 100%;
    width: 100%;
  }
  .hero__text h1 {
    color: #000;
    width: 100%;
  }
  .search-block.hero-search-block input::placeholder {
    color: #000;
  }
  .search-block.hero-search-block input:focus {
    color: #000;
  }
  .apartment__list-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
