.container {
  max-width: 90%;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  flex-wrap: wrap;
}
nav .logo-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

 .search-block {
  border: 1px solid grey;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
nav input {
  border: none;
  min-width: 190px;
}
nav input:focus {
  outline: none;
}
nav .hamburger {
  cursor: pointer;
}
nav ul {
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  list-style-type: none;
  padding: 1rem;
  margin-top: 1rem;
  display: none;
}
nav .show {
  display: block;
}
nav ul li {
  padding-bottom: 1rem;
}
nav ul li:last-child {
  padding-bottom: 0;
}

nav ul li a {
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.7)),
    url("/img/mobile-img.png");
    min-height: calc(100vh - 66px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
}
.hero__text {
    width: 90%;
    margin: 0 auto;
    color:#fff;
}
.hero__text .hero-emoji {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero__text h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.search-block.hero-search-block input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
}
.search-block.hero-search-block input:focus {
    outline: none;
}
.hero ::placeholder {
    color:#fff
}
.search-block.hero-search-block{
    width: 70%;
}
.hero--btn-section {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.hero--btn-section .btn {
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.hero--btn-section .btn-success {
    background-color: rgb(56, 235, 160);
}
.hero--btn-section .btn-secondary {
    background-color: rgb(227, 220, 220);
}